* {
  box-sizing: border-box;
  margin: 0;
}

p,h3,h2 {
  font-family: 'Orbitron', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(235, 193, 200);
}

p{

font-size: 1.5em;
}

h2 {
  color: rgb(235, 193, 200);
}

h3 {
  color: rgb(19, 9, 9);
}

.container {
  display: flex;
  position: absolute;
  width: 100%;
  font-size: 3em;
  justify-content: center;
  bottom: 0;
  top: 0;
  background-image: linear-gradient(black,grey,black);
  flex-direction: column;
}

.date {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
}
.timecont {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.day {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}


@media screen and (max-width: 1000px) {
  .timecont {
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    font-size: 0.8em;
  }

  p{

    font-size: 1em;
  }
}